html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    max-width:100%;
    border: 1px ;
}

/*GENERAL styles*/
html{
    font-size: 62.5%;
}
body{
    font-size:1.8rem;
    color:#4f4f4f;
    line-height:1.5;
    font-family: 'PT Sans', sans-serif;
    background:#FFFAFA;
}
h1, h2, h3{
    font-family: 'Nunito, sans-seriff';
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-size:5rem;
}
h2{
    font-size: 3.5rem;
}
h3{
    font-size: 2.5rem;;
}
section{
    padding:4% 0;
}
a{
    text-decoration: none;
    color:#4f4f4f;
    font-family: 'Roboto Mono', monospace;
}
p{
    font-family: 'Roboto Mono', monospace;
    text-align:center;
}

nav .links{
    display: flex;
   justify-content: space-between;

}
.links{
    margin-left:30%;
    margin-right:30%;
    width:40%;
    display:flex;
    justify-content: space-evenly;
}

.recentproject{
    background-image: url('https://source.unsplash.com/cOkpTiJMGzA');
    width:100%;
    height:50vh;
    background-position: center bottom;
}
.main-project{
    
    text-align:center;
    font-size: 3rem;
    background:tan;
    padding:1%;
    width:30%;
    margin-left:35%;
   
}
.recent{
    color:white;
 
}

.contact2{
    font-size:1rem;
    display:flex;
    justify-content: center;
    margin:5%;
    border: solid black 1px;
    border-radius:25px;
    padding:1%;
    text-align: center;
    background:grey;
     color:white;
}
.otherprojects{
    font-family: 'Amatic SC';
    color:White;
    display:flex;
    justify-content: space-evenly;
    margin-top:2rem;
    margin-bottom:-10rem;
    font-size:30px;
   
}

.Project1{
    width:30rem;
    height:30rem;
    background-image:url("https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fforbestechcouncil%2Ffiles%2F2019%2F01%2Fcanva-photo-editor-8-7.jpg");
    background-size:250%;
    padding:1.5%;
    margin:1.5%;
    border:solid black 0.4rem;
    border-radius:50rem;
}

.Project2{
    width:30rem;
    height:30rem;
    background-image:url("https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fforbestechcouncil%2Ffiles%2F2019%2F01%2Fcanva-photo-editor-8-7.jpg");
    background-size:250%;
    padding:1.5%;
    margin:1.5%;
    border:solid black 0.4rem;
    border-radius:50rem;
}
.Project3{
    width:30rem;
    height:30rem;
    background-image:url("https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fforbestechcouncil%2Ffiles%2F2019%2F01%2Fcanva-photo-editor-8-7.jpg");
    background-size:250%;
    padding:1.5%;
    margin:1.5%;
    border:solid black 0.4rem;
    border-radius:50rem;
}

footer{
    margin-top:15%;
}
.project-titles{
    display: flex;
    height:10vh;
    justify-content: space-around;
    font-size:4rem;
  
}
@media(max-width: 800px){
    
}

@media(max-width:500px){
    .links{
        display: flex;
        flex-direction: column;
        text-align:center;
    }
    .otherprojects{
        display:flex;
        flex-direction: column;
        margin-bottom: 15%;
        margin-left:18%;
    }

    .project-titles{
        flex-direction: column;
        margin-left:65%;
        justify-content: space-between;
        color:white;
    }
   
}